body {
  justify-content: center;
  margin: 0 auto;
  font-family: "Gill Sans", sans-serif;
}

.hidden {
  display: none;
  background-color: red;
}

.Navigation {
  text-align: center;
  background-color: rgb(132, 169, 182);
  display: flex;
  justify-content: space-around;
}
.Navigation__Links {
  margin: 20px 0;
}
.Navigation__Links a {
  margin-left: 20px;
}
.Navigation__Title {
  text-transform: uppercase;
}

.Page {
  width: 100%;
  flex-direction: column;
  display: none;
  justify-content: center;
}

.Banner {
  width: 100%;
  height: 260px;
  align-items: center;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  background-color: rgb(225, 225, 225);
}
.Banner__Wrap {
  display: flex;
  flex-direction: column;
  margin-right: 170px;
  align-items: center;
}
.Banner__Wrap__Button {
  background-color: rgb(202, 129, 122);
  border-radius: 15%;
  width: 90px;
}
.Banner__Wrap__Title {
  color: rgb(61, 56, 56);
  font-size: 40px;
}
.Banner__Img {
  width: 40%;
}
.Banner__Img img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

h3 {
  margin-left: 15%;
  text-shadow: rgb(173, 187, 190) 2px 0 10px;
}

li {
  background-color: rgb(241, 241, 241);
  border-radius: 10%;
  height: 268px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.img {
  height: 268px;
  cursor: pointer;
}

.Category1, .Category2, .Category3 {
  position: relative;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
.Category1__carousel, .Category2__carousel, .Category3__carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  overflow: hidden;
  overflow-x: auto;
  gap: 16px;
  padding: 0;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.Category1__button, .Category2__button, .Category3__button {
  height: 30px;
  width: 35px;
  background-color: grey;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 5px 5px grey;
  border-radius: 50%;
  cursor: pointer;
}
.Category1__button:first-child, .Category2__button:first-child, .Category3__button:first-child {
  left: -22px;
}
.Category1__button:last-child, .Category2__button:last-child, .Category3__button:last-child {
  right: -22px;
}

.no-transition {
  scroll-behavior: auto;
}

.Modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: fit-content;
  overflow: auto;
  display: flex;
  background-color: rgba(227, 235, 238, 0.897);
}
.Modal__flex {
  margin: 6% auto;
  position: relative;
  background: white;
  width: 360px;
  border-radius: 10%;
}
.Modal__flex__button {
  position: absolute;
  top: -23px;
  right: 0;
  cursor: pointer;
}
.Modal__flex div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Modal__flex div img {
  margin-top: 20px;
  border-radius: 10%;
  width: 230px;
}
.Modal__flex div h4 {
  margin: 5px;
}
.Modal__flex div p {
  font-size: 11px;
  margin: 15px;
}

footer {
  height: 120px;
  background-color: rgb(132, 169, 182);
  margin-top: 40px;
}
footer div {
  margin: 20px 15px;
  font-size: 11px;
}

@media screen and (max-width: 900px) {
  .Category1__carousel, .Category2__carousel, .Category3__carousel {
    grid-auto-columns: calc(33.3333333333% - 14px);
  }
  .Category1 .Modal__flex, .Category2 .Modal__flex, .Category3 .Modal__flex {
    margin: 4% auto;
    position: relative;
    background: white;
    width: 390px;
    border-radius: 10%;
  }
}
@media screen and (max-width: 600px) {
  .Category1__carousel, .Category2__carousel, .Category3__carousel {
    grid-auto-columns: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
